[submodule "doc/global"]
	path = doc/global
	url = https://github.com/viprip/Stoiridh-QDoc-template.git
[submodule "config/qbs"]
	path = config/qbs
	url = https://github.com/viprip/Stoiridh-Qbs-Tools.git
[submodule "plugins/qtquick/stoiridh-settings"]
	path = plugins/qtquick/stoiridh-settings
	url = https://github.com/viprip/Stoiridh.Settings.git
[submodule "plugins/qtquick/stoiridh-controls"]
	path = plugins/qtquick/stoiridh-controls
	url = https://github.com/viprip/Stoiridh.Controls.git
