[submodule "doc/global"]
	path = doc/global
	url = git@github.com:viprip/stoiridh-qdoc-template
[submodule "qbs"]
	path = config/qbs
	url = git@github.com:viprip/stoiridh-qbs-configuration
[submodule "plugins/qtquick/stoiridh-settings"]
	path = plugins/qtquick/stoiridh-settings
	url = git@github.com:viprip/stoiridh.settings.git
[submodule "plugins/qtquick/stoiridh-controls"]
	path = plugins/qtquick/stoiridh-controls
	url = git@github.com:viprip/stoiridh.controls.git
